.root {
  display: flex;
  align-items: center;
  width: 196px;
  background: hsla(0, 0%, 100%, 1);
  color: hsla(0, 0%, 9%, 1);
  padding: 0 14px;
  border-radius: 8px;
  font-size: 16px;
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.08);
  border: 1px solid hsla(0, 0%, 0%, 0.08);
  height: 48px;
  font-weight: 500;
  transition-property: border-color, background, color, transform, box-shadow;
  transition-duration: 0.15s;
  transition-timing-function: ease;

  &:hover {
    background: hsla(0, 0%, 95%, 1);
    border-color: hsla(0, 0%, 0%, 0.12);
  }
}
