@use '@/styles/vars' as *;

.root {
  display: flex;
  gap: 12px;
}

.link {
  position: relative;
  width: 48px;
  height: 48px;

  @media (max-width: $md) {
    width: 32px;
    height: 32px;
  }
}
