@use '@/styles/vars' as *;
@use '@/styles/mixins' as *;

.title {
  @include text-h1;
  margin-bottom: 12px;
  text-align: center;
}

.description {
  margin-bottom: 24px;

  @media (max-width: $xs) {
    margin-bottom: 16px;
  }
}

.wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 16px;
}
