@use '@/styles/vars' as *;
@use '@/styles/mixins' as *;

.title {
  margin-bottom: 12px;
  text-align: center;
  @include text-h1;
}

.description {
  margin-bottom: 24px;

  @media (max-width: $xs) {
    margin-bottom: 16px;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  @media (max-width: $md) {
    grid-template-columns: 1fr;
  }
}
