.root {
  background-color: #1f81b9;
  font-size: 16px;
  color: white;
  height: 42px;
  border-radius: 12px;
  width: 100%;
  border: none;
  cursor: pointer;
  border: 1px solid rgba(31, 129, 185, 0.3);

  &:hover {
    background-color: #3899cf;
  }

  &:disabled {
    background: #e4e4e4;
  }
}
