@use '@/styles/vars' as *;

.root {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 32px;
  font-size: 24px;
  padding: 24px 0;
  border-bottom: 1px solid rgba(209, 213, 219, 1);

  @media (max-width: $sm) {
    padding: 16px 0;
    font-size: 18px;
  }

  @media (max-width: $xs) {
    gap: 16px;
  }
}

.link {
  font-weight: 500;
}

.active {
  text-underline-offset: 4px;
  text-decoration-line: underline;
}
