@use '@/styles/vars' as *;
@use '@/styles/mixins' as *;

.title {
  @include text-h1;
}

.dekstopShow {
  display: block;

  @media (max-width: $md) {
    display: none;
  }
}

.mobileShow {
  display: none;

  @media (max-width: $md) {
    display: block;
  }
}

.resumes {
  margin: 16px 0;
}
