@use '@/styles/vars' as *;

.root {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 8px 0;
}

.openedSelectList {
  & .selectButton {
    box-shadow:
      0 0 #fff,
      0 0 0 1px #1118270d,
      0 20px 25px -5px #0000001a,
      0 8px 10px -6px #0000001a;
  }

  & .selectListWrapper {
    display: block;
    z-index: 3;
  }
  & .selectButton {
    &::after {
      transform: rotate(-180deg);
    }
  }
}

.selectButton {
  width: 94px;
  border: 1px solid;
  border-radius: 12px;
  padding: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #ebebeb;
  position: relative;

  @media (max-width: $sm) {
    padding: 6px;
    width: 84px;
  }

  & span {
    margin-right: 6px;
  }

  &::after {
    content: '';
    width: 16px;
    height: 16px;
    background-image: url('../../../public/icons/angle-down.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    transition: transform 300ms;

    @media (max-width: $sm) {
      width: 14px;
      height: 14px;
    }
  }
}

.selectListWrapper {
  width: 94px;
  display: none;
  position: absolute;
  padding: 8px;
  margin: 0;
  top: 56px;
  right: 0;
  border-radius: 12px;
  background: #ebebeb;
  border: 1px solid;

  @media (max-width: $sm) {
    top: 46px;
    padding: 6px;
    width: 84px;
  }
}

.selectList {
  display: flex;
  flex-direction: column;
}

.selectItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0;
  font-weight: 400;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  @media (max-width: $sm) {
    height: 32px;
  }

  & a {
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
    border: 1px solid transparent;
    margin-right: 6px;
  }

  &.isActiveItem::after {
    content: '';
    width: 16px;
    height: 14px;
    background-image: url('../../../public/icons/check.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;

    @media (max-width: $sm) {
      width: 14px;
      height: 14px;
    }
  }
}

.flag {
  position: relative !important;
  width: 24px !important;
  height: 24px !important;
  display: inline-block;
  margin-right: 4px;

  @media (max-width: $sm) {
    width: 18px !important;
    height: 18px !important;
    margin-right: 6px;
  }
}

.flagWrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.countryName {
  font-size: 20px;

  @media (max-width: $sm) {
    font-size: 16px;
  }
}
