@use '@/styles/vars' as *;
@use '@/styles/mixins' as *;

.backLink {
  position: absolute;
  display: flex;
  align-items: center;
  top: -30px;
  gap: 4px;
  color: rgb(102, 102, 102);
  font-size: 14px;
}

.backIcon {
  transform: rotate(180deg);
  color: rgb(102, 102, 102);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;

  @media (max-width: $md) {
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
  }
}

.headerTitle {
  @include text-h1;

  color: rgb(23, 23, 23);
  font-weight: 600;
  margin-bottom: 8px;
}

.subTitle {
  font-size: 16px;
  font-weight: 400;
  color: rgb(102, 102, 102);
}

.button {
  max-width: 200px;

  @media (max-width: $sm) {
    max-width: 140px;
  }
}

.image {
  margin: 0 auto 32px auto;
  height: auto;

  @media (max-width: $md) {
    margin-bottom: 24px;
  }
}

.content {
  display: flex;
  gap: 36px;

  @media (max-width: $lg) {
    gap: 32px;
  }

  @media (max-width: $md) {
    flex-direction: column;
    gap: 24px;
  }
}

.title {
  font-size: 20px;
  color: rgb(23, 23, 23);
  font-weight: 600;
  margin-bottom: 16px;

  @media (max-width: $sm) {
    font-size: 18px;
    margin-bottom: 12px;
  }
}

.description {
  font-weight: 400;
  width: 100%;
}

.infoProject {
  width: 244px;

  @media (max-width: $lg) {
    width: 200px;
  }
  @media (max-width: $md) {
    width: 100%;
  }
}

.gitHubLink {
  display: inline-block;
  color: #425eff;
  cursor: pointer;
  margin-bottom: 16px;

  &:hover {
    text-decoration-line: underline;
    text-underline-offset: 4px;
  }
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  @media (max-width: $md) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
