@use '@/styles/vars' as *;

.root {
  position: relative;
  border-radius: 8px;
  border: 1px solid rgb(235, 235, 235);
  box-shadow: 0 1px 2px #0000000a;
  overflow: hidden;
  max-height: 300px;

  &:hover {
    & .image {
      transform: rotate(-3deg);
    }
    & .icon {
      opacity: 1;
      transition-duration: 0.3s;
      transform: translateX(4px) rotate(-45deg);
    }
  }
}

.image {
  box-shadow: 0 5px 10px #0000001f;
  transform: rotate(-5deg);
  transition-duration: 0.3s;
  position: relative;
  right: -30px;
  bottom: 0px;

  @media (max-width: $md) {
    right: unset;
    bottom: unset;
    transform: rotate(0);
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 8px;

  @media (max-width: $md) {
    padding: 12px;
  }
}

.titleWrapper {
  display: flex;
  align-items: center;
}

.icon {
  width: 14px;
  height: 14px;
  opacity: 0;
}

.title {
  color: rgb(23, 23, 23);
  font-weight: 500;
  font-size: 16px;
}

.description {
  font-weight: 400;
  color: rgb(125, 125, 125);
  font-size: 16px;
}
