@use '@/styles/vars' as *;
@use '@/styles/mixins' as *;

.title {
  text-align: center;
  @include text-h1;
}

.root {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 32px;

  @media (max-width: $sm) {
    gap: 24px;
  }
}
