@use '@/styles/vars' as *;

.wrapper {
  display: none;

  @media (max-width: $md) {
    position: relative;
    overflow: hidden;
    display: block;
    margin-top: 24px;
    height: 100px;
  }
}

.track {
  position: absolute;
  animation: moveRight 12s linear infinite;
}

@keyframes moveRight {
  0% {
    left: -10%;
  }
  100% {
    left: 120%;
  }
}
